{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            {% include "page_title.html" %}
            {% include 'message.html' %}
            <div class="card-box height-100-p pd-20">
                <div class="right-sidebar-body">
                    <div class="right-sidebar-body-content">
                        <form id="allergies_form" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                    <div class="col-sm-12">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary" id= "" value="Save">
                            <a href="javascript:history.go(-1)" class="btn btn-primary">Cancel</a>
                        </form>
                    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>

<script>
    dob = document.getElementById("id_date").value.split("/")
    console.log(dob)
    if (dob.length != 1){
        dob = dob[2] + '-' + dob[1] + '-' + dob[0]
    }
    document.getElementById("id_date").value = dob;
    document.getElementById("id_date").type = 'date'
    document.getElementById("id_time").type = 'time'
</script>
{% endblock%}