{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            {% include "page_title.html" %}
            {% include 'message.html' %}
            <div class="card-box height-100-p pd-20">
                <div class="right-sidebar-body">
                    <div class="right-sidebar-body-content">
                        <form id="allergies_form" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                    <div class="col-sm-12">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary" id= "update_allergies" value="Add ">
                        </form>
                        <div class="reset-options pt-30 text-center">
                            <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
                        </div>
                    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
<!-- Time picker code are at core.js -->
<script src="{% static 'vendors/scripts/core.js' %}"></script>
<script src="{% static 'vendors/scripts/script.min.js' %}"></script> 
<script src="{% static 'vendors/scripts/process.js' %}"></script> 
<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
<script src="{% static 'src/scripts/color.js' %}"></script>
<script src="{% static 'src/scripts/sidebarcolor.js' %}"></script>
<script>
    document.getElementById("clr").type = 'color'
    document.getElementById("sideclr").type = 'color'
</script>
{% endblock %}