{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load user_tags %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            {% include "page_title.html" %}
            {% include 'message.html' %}
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i class="fa fa-pencil"></i></a>
                            <img src="{{ user|get_avatar_url }}" alt="" class="avatar-photo">
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-footer">
                                            <form id="profile" role="form" action="{% url 'user:save-profile-picture' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <img id="profile-pic" src ="{{ user|get_avatar_url }}" alt='profile-pic'>
                                                <div class="form-group">
                                                    {{ profile_picture_form.avatar }}
                                                    <input type="button" id="upload_pic_button" value="Select" class="btn btn-primary">
                                                    <input type="submit" id="update_profile_picture" value="Update" class="btn btn-primary">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center h5 mb-0">{{ user_profile.name }}</h5>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Personal Information</h5>
                            <ul>
                                {% if user.email is not None %}
                                    <li>
                                        <span>Email Address:</span>
                                        {{ user.email }}
                                    </li>
                                {% endif %}
                                {% if user_profile.gender is not None %}
                                    <li>
                                        <span>Gender:</span>
                                        {{ user_profile.gender|get_gender_by_key }}
                                    </li>
                                {% endif %}
                                {% if user_profile.dob is not None %}
                                    <li>
                                        <span>Age:</span>
                                        {{ user_profile.dob|get_age_by_dob }}
                                    </li>
                                {% endif %}
                                {% if user_profile.height is not None %}
                                    <li>
                                        <span>Height:</span>
                                        {{ user_profile.height }}
                                    </li>
                                {% endif %}
                                {% if user_profile.weight is not None %}
                                    <li>
                                        <span>Weight:</span>
                                        {{ user_profile.weight }}
                                    </li>
                                {% endif %}
                                {% if user_profile.blood_group is not None %}
                                    <li>
                                        <span>Blood Group:</span>
                                        {{ user_profile.blood_group|get_blood_group_by_key }}
                                    </li>
                                {% endif %}
                                {% if user_profile.phone_number is not None %}
                                    <li>
                                        <span>Phone Number:</span>
                                        {{ user_profile.phone_number }}
                                    </li>
                                {% endif %}
                                {% if user_profile.city is not None %}
                                    <li>
                                        <span>City:</span>
                                        {{ user_profile.city }}
                                    </li>
                                {% endif %}
                                {% if user_profile.state is not None %}
                                    <li>
                                        <span>State:</span>
                                        {{ user_profile.state }}
                                    </li>
                                {% endif %}
                                {% if user_profile.country is not None %}
                                    <li>
                                        <span>Country:</span>
                                        {{ user_profile.country }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="profile-social">
                            <h5 class="mb-20 h5 text-blue">Social Links</h5>
                            <ul class="clearfix">
                                {% if user_social_links.facebook %}
                                    <li><a href="{{ user_social_links.facebook }}" target="_blank" class="btn" data-bgcolor="#3b5998" data-color="#ffffff"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if user_social_links.twitter %}
                                    <li><a href="{{ user_social_links.twitter }}" target="_blank" class="btn" data-bgcolor="#1da1f2" data-color="#ffffff"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if user_social_links.linkedin %}
                                    <li><a href="{{ user_social_links.linkedin }}" target="_blank" class="btn" data-bgcolor="#007bb5" data-color="#ffffff"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if user_social_links.instagram %}
                                    <li><a href="{{ user_social_links.instagram }}" target="_blank" class="btn" data-bgcolor="#f46f30" data-color="#ffffff"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" class="btn btn-primary" value="Disable Account">
                            <input type="submit" class="btn btn-primary" value="Delete Account">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <div class="profile-setting">
                                    <form id="profile" role="form" action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <ul class="profile-edit-list row">
                                            <li class="weight-500 col-md-6">
                                                <h4 class="text-blue h5 mb-20">Edit Your Personal Setting</h4>
                                                {% for field in user_form %}
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                                        <div class="col-sm-12">
                                                            <span class="text-danger small">{{ field.errors }}</span>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {% for field in profile_form %}
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                                        <div class="col-sm-12">
                                                            <span class="text-danger small">{{ field.errors }}</span>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div class="form-group mb-0">
                                                    <input type="submit" class="btn btn-primary" id= "update_profile" value="Update Information">
                                                </div>
                                            </li>
                                            <li class="weight-500 col-md-6">
                                                <h4 class="text-blue h5 mb-20">Edit Social Media links</h4>
                                                {% for field in social_links_form %}
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                                        <div class="col-sm-12">
                                                            <span class="text-danger small">{{ field.errors }}</span>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block footer_javascript %}
<script>
    $("#id_notification_status").after(" I agree to receive notification emails")
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile-pic').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#upload_pic_button").on('click', function() {
        $("#id_avatar").click();
    });
    $("#id_avatar").on('change', function(){
        readURL(this);
    });
</script>
<script>
    dob = document.getElementById("id_dob").value.split("/")
    console.log(dob)
    if (dob.length != 1){
        dob = dob[2] + '-' + dob[1] + '-' + dob[0]
    }
    document.getElementById("id_dob").value = dob;
    document.getElementById("id_dob").type = 'date'
</script>
<style>
    #city {
        margin-left: 0px;
    }
    #id_avatar {
        display: None;
    }
</style>
{% endblock %}