{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            {% include "page_title.html" %}
            {% include 'message.html' %}
            <div class="card-box height-100-p pd-20">
                <div class="right-sidebar-body">
                    <div class="right-sidebar-body-content">
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Requested user</h5>
                            <ul>
                                {% if requested_user.email is not None %}
                                    <li>
                                        <span>Name:</span>
                                        {{ requested_user.first_name }} {{ requested_user.last_name }}
                                    </li>
                                    <li>
                                        <span>Email Address:</span>
                                        {{ requested_user.email }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <a href="{% url 'user:approve-notification' pk=notification.id %}" class="btn btn-primary">Approve request</a>
                        <a href="{% url 'user:reject-notification' pk=notification.id %}" class="btn btn-primary">Reject request</a>
                        <a href="{% url 'user:notifications' %}" class="btn btn-primary">Back</a>
                    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
{% endblock%}