<style>
    .alert_message {
        text-align: center;
    } 
</style>
{% if messages %}
    <div class="messages alert_message">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div class="messages alert_message">
        {% for error in form.non_field_errors %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
{% endif %}