
<div class="right-sidebar">
    <div class="sidebar-title">
        <h3 class="weight-600 font-16 text-blue">
            Medicine Settings        
        </h3>
        <div class="close-sidebar" data-toggle="right-sidebar-close">
            <i class="icon-copy ion-close-round"></i>
        </div>
    </div>
    <div class="right-sidebar-body customscroll">
        <div class="right-sidebar-body-content">
            <h4 class="weight-600 font-18 pb-10">Medicine Name</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="" class="btn btn-outline-primary header-dark">Asthalin</a>
            </div>
            <h4 class="weight-600 font-18 pb-10">Expiry Date</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="" class="btn btn-outline-primary header-dark active">December 2021</a>
            </div>
            <h4 class="weight-600 font-18 pb-10">Max Count</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <a href="" class="btn btn-outline-primary header-dark">140</a>
            </div>
            <h4 class="weight-600 font-18 pb-10">Company/Manufacturer Name</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <a href="" class="btn btn-outline-primary header-dark active">CIPLA</a>
            </div>
            <h4 class="weight-600 font-18 pb-10">Type Of Medication</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <a href="" class="btn btn-outline-primary header-dark">Maintenance Dose</a>
            </div>
            <a href="{% url 'inhaler:devices' %}" class="btn btn-outline-primary header-dark">View devices</a>
        </div>
    </div>
</div>